@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 300;
}
/*TOP HEADER*/
header {
	width: 100%;
	background-color: black;
	/*height: 5em;*/
	height: auto;
}
/*.headericons {
	width: 33.3%;
	padding: 1em;
	float: left;
}*/

#leftlogo {
	padding: 1.25em 20em 1.25em 2.7em;
	float: left;
	text-align: left;
}
#text {
	padding: 1.25em 16.7em 1.25em 0em;
	
}
.rightlogo {
	padding: 1.25em .42em 1.25em .42em;
	
}
#hamburger {
	display: none;
}


/*VERT NAVIGATION MENU*/
nav {
	width: 20%;
	float: left;
}

nav a {
	background-color: #e3e1dc;
	color: black;
	display: block;
	font-size: .83em;
	padding: .67em 2.3em .67em 1.67em;
	
	text-decoration: none;
	line-height: 1.2em;
}

nav a:hover, nav a.current {
	background-color: #a7a7a7;
	text-decoration: underline;
}


/*DASHBOARD*/
.dashboard {
	width: 80%;
	float: right;
}

.boxinfo {
	text-align: center;
	float: left;
	width: 20%;
	height: 4.2em;
	/*border-bottom: 5px solid green;*/
	margin: .6em;
}
.boxinfo .left {
	text-align: left;
	float: left;
	font-size: .8em;
	width: 60%;
	font-weight: 300;
}
.boxinfo .right {
	text-align: right;
	float: right;
	font-size: 3em;
	width: 40%;
	/*font-weight: 400;*/
	line-height: 1em;
}
.boxinfo .left img {
	width: 25%;
	padding-top: .5em;
}
.boxinfo .right a {
	text-decoration: none;
	color: black;
}
.boxinfo .left:after {
	content: "";
  	display: table;
  	clear: both;
}
.boxinfo .right:after {
	content: "";
  	display: table;
  	clear: both;
}

/*COMMUNICATION*/

.compose img{
	padding: 1em 1em 0 1em;
	width: 20%;
}
.inbox .tabs, .inbox .emailcontent {
	margin: 0 1em 0 1em;
}
/*Email Tabs*/
 .tg  {
 	border-collapse:collapse;
 	border-spacing:0;
 }

 .tg td{
 	font-size:14px;
 	padding:7px 5px;
 /*	border:solid 1px white;*/
 	overflow:hidden;
 	word-break:normal;
 }
 .tg th{
 	font-size:14px;
 	font-weight:normal;
 	padding:7px 5px;
 	border: solid 1px white;
 	border-width:1px;
 	overflow:hidden;
 	word-break:normal;
 	background-color: #e3e1dc;
 }
 .tg .tg-s6z2{
 	text-align:center
 }
 .tg .tg-baqh{
 	text-align:center;
 	vertical-align:top
 }
 .tg .tg-hgcj{
 	font-weight:bold;
 	text-align:center;
 	background-color: #a7a7a7;
 }
@media screen and (max-width: 767px) {
	.tg {
		width: auto !important;
		}
	.tg col {
		width: auto !important;
		}
	.tg-wrap {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		}
	}

/*Email Inbox Content*/
.tg2 {
	border-collapse:collapse;
	border-spacing:0;
}
.tg2 td{
	font-size:10px;
	padding:5px 5px;
/*	border-style:solid;*/
/*	border-width:1px;*/
	overflow:hidden;
	word-break:normal;
}
.tg2 tr {
	height: 10px;
}
.tg2 th{
	font-size:10px;
	font-weight:normal;
	padding:5px 5px;
/*	border-style:solid;*/
/*	border-width:1px;*/
	overflow:hidden;
	word-break:normal;
}
.toprow th {
	padding: 10px 5px;
}
.tg2 .tg-0ord{
	text-align:right
}
.tg2 .tg-s6z2{
	text-align:center
}
.tg2 select {
	background-color: #f8f8f8;
	border: none;
}
.tg2 .tg-031e {
	text-align: left;
}
.tg2 .tg-baqh{
	text-align:center;
	vertical-align:top
}
.tg2 .tg-yw4l{
	vertical-align:top
}
@media screen and (max-width: 767px) {.tg2 {width: auto !important;}.tg2 col {width: auto !important;}.tg-wrap2 {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>


/*RESPONSIVE */

@media only screen and (max-width: 1024px) {
	body {
		font-size: 14px;
	}

	.navheader {
		height: auto;
	}

	
	nav {
	height: 0;
	overflow: hidden;
	-webkit-transition: all 1s ease-in-out;   
	-moz-transition: all 1s ease-in-out;   
	-o-transition: all 1s ease-in-out;   
	transition: all 1s ease-in-out;
	}

	#hamburger {
		color: red;
    	cursor: pointer;
    	display: block;
    	height: 24px;
    	padding: 3px;
   	 	position: relative;
    	width: 8%;
    	text-align: left;
    	float: left;
	}
	#hamburger i {
		font-size: 1em;
		padding: 2px 0px 0px 5px;

	}
	nav.active { 
		height: 13em;
		background-color: rgba(0,0,0,.7);
		 
	}
	#leftlogo {
		display: none;
	}
}






