@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic);
*,
*:before, /*modern css reset*/
*:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background: url("sunset.JPG");
	background-size: cover;
	background-position: center;
	font-family: 'Gentium Book Basic', serif;
	font-size: 24px;
	color: white;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
}

header {
	font-family: 'Rock Salt', cursive;
	font-size: 1.45em;
	background: url("horzblackwood.jpg");
	background-size: cover;
	/*padding: 20px 25px 20px 0px;*/
	padding: 0px;
	color: #FF430A;
	text-align: center;
	width: 100%;
	display: inline-block;
}
header h1 {
	display: inline-block;
	text-align: center;
	/*padding: none;*/
	position: relative;
	left: -30px;
}
header img {
	padding-left: 10px;
	float: left;
	position: relative;
	/*top: -200px;*/
	padding-bottom: 0em;
	right: -40px;
}
header p {
	text-align: center;
	font-size: .5em;
	position: relative;
	padding-bottom: 0em;
	top: -25px;
	line-height: .5em;
}

nav {
	list-style-type: none;
	font-size: .67em;
	color: white;
	overflow: hidden;
	width: 100%;
}
.header li {
	display: inline;
	float: center;	
}
.header li a {
	display: inline-block;
	font-family: 'Gentium Book Basic', serif;
	font-size: 1em;
	color: white;
	text-align: center;
	padding: 10px 16px;
	margin: 0;
	text-decoration: none;
}
.header li a:hover {
	background-color: #FF430A;
	border-radius: 15px 15px 0px 0px;
}

#all {
	background: rgba(0,0,0,.35);
	padding: 2em;
}

#boatrental {
	display: inline-block;
	width: 100%;
	margin-bottom: 1em;
}
#boatrental h1 {
	text-align: center;
	text-decoration: underline;
}

#boats {
	display: inline-block;
	width: 50%;
	float: left;
	padding: 0em 2em;
}


h3 {
	font-size: 1em;
}

p {
	font-family: Arial;
	font-size: .75em;
	float: left;
}
#boatpics {
	padding: 0em 5em 2em 0em;
}
#boatpics img {
	float: right;
	display: inline-block;
	width: 30%;
}
#boatrental2 {
	display: inline-block;
	width: 100%;
	padding: 2em;
	margin-top: 1em;
}
#houseboat {
	width: 50%;
	float: left;
	/*padding: 0em 2em;*/
}



#houseboatpic img {
	float: right;
	display: inline-block;
	width: 40%;
	padding-right: 2em;
}

footer {
	font-family: Arial;
	font-size: .75em;
	color: white;
	text-align: center;
	padding: 1em 0;
	clear: both;
}


