@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic);

body{
	/*background-color: black;*/
	background: url("sunwake.jpg");
	background-size: cover;
	font-family: 'Gentium Book Basic', serif;
}
header {
	font-family: 'Rock Salt', cursive;
	font-size: 64px;
	background: url("horzblackwood.jpg");
	background-size: cover;
	border-radius: 15px;
	margin: 0px;
	padding: 0px 20px 0px 20px;
	color: #FF430A;
	text-align: center;

}
header img{
	padding: 0px 20px;
}
/*header span {
	font-size: 16px;
	text-align: right;
	
}*/
nav {
	list-style-type: none;
	font-family: 'Gentium Book Basic', serif;
	font-size: 16px;
	color: white;
	/*margin: 0;
	padding: none;*/
	overflow: hidden;
}
.header li {
	display: inline;
	float: center;
	
}
.header li a {
	display: inline-block;
	font-family: 'Gentium Book Basic', serif;
	font-size: 24px;
	color: white;
	text-align: center;
	padding: 10px 16px;
	margin: 0;
	text-decoration: none; /*Gets rid of the underline*/

}
.header li a:hover {
	background-color: #FF430A;
	border-radius: 15px 15px 0px 0px;
}

#one {
	margin: 0 auto;
	color: white;
	text-align: center;
} 
#two {
	display: inline-block;
}
.gallery {
	/*background: url("horzblackwood.jpg");
	background-size: cover;*/
	background: rgba(0,0,0,.55);
	font-size: 14px;
	list-style: none;
	color: white;
	display: inline-block;
	padding: .5em 1em;
	text-align: center;
	border-radius: 15px;
	margin: .25em;

}
.about h1 {
	font-size: 32px;
	font-family: 'Gentium Book Basic', serif; 
	display: inline-block;
	text-decoration: underline;
}
.about {
	background: rgba(0,0,0,.55);
	font-size: 18px;
	color: white;
	/*border: 1px white solid;*/
	border-radius: 25px;
	display: block;
	padding: .5em 1em;
	text-align: center;
	margin: .5em;
	font-family: Arial;
}
.about a{
	font-family: 'Rock Salt', cursive;
	color: #FF430A;
	font-size: 24px;
	text-decoration: none;
}
.weather {

	display: block;
	padding: 1em 2em;
	text-align: center;
	margin: .5em;
}

footer {
	font-family: Arial;
	color: white;
	text-align: center;
	padding: 1em 0;
}